body {
  background-color: rgba(53, 118, 224, 0.959);
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

button {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #4265e0;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
